* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: honeydew;
    background: url("") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container svg {
    max-width: 50%;
    max-width: height 50%;
    position: absolute;
}

.logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: auto;
    max-height: 5%;
}



@keyframes jump {
    0%   {transform: translate3d(0,0%,0) }
    25%   {transform: translate3d(0,10%,0) }
    50%  {transform: translate3d(0,20%,0) }
    75% {transform: translate3d(0,10%,0)}
    100% {transform: translate3d(0,0%,0)}
}

.letter.animated{
    transform-origin: 50% 50%;
    animation: jump 4s linear ;
}

.letter{
    stroke:transparent;
    stroke-width: 60px;
}